.flightlist {
    width: 100%;
    padding-top: 50px;
}
.flightlist__container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -75px;
    @include media-breakpoint-between(md, lg) {
        margin: 0 -50px;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 20px;
    }
}
.flightlist__item {
    box-shadow: 0px 0px 5px 1px rgba(88, 88, 88, 0.45);
    flex: 0 0 calc(33.333% - 150px);
    margin: 30px 75px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    @include media-breakpoint-between(md, lg) {
        flex: 0 0 calc(33.333% - 100px);
        margin: 30px 50px;
    }
    @include media-breakpoint-only(md) {
        flex: 0 0 calc(50% - 100px);
        margin: 30px 50px;
    }
    @include media-breakpoint-down(sm) {
        flex: 0 0 calc(100% - 100px);
        margin: 30px 50px;
    }
}
.flightlist__image-holder {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.flightlist__image {
    width: 100%;
}
.flightlist__name {
    text-align: center;
    font-size: 23px;
}
.flightlist__details {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ovo postavlja broj redova pre nego što se pojavi ellipsis */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 10px;
}
.flightlist__date {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.flightlist__link {
    text-align: center;
    padding: 10px 0;
    background-color: $purple-active;
    color: $white;
    border-radius: 6px;
    display: block;
    max-width: 80%;
    margin: 0 auto;
}
