.header {
    background-color: $gray-3;
    height: 80px;
    .wrap {
        height: 100%;
    }
}
.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
   color: $purple-active;
}
