.search {
    padding: 20px 0;
}
.search__input {
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid $purple-active;
    border-radius: 6px;
    padding: 0 20px;
    &::placeholder {
        color: $purple-active;
        font-size: 14px;
    }
}