// ----------  layout
// ------------------------------------------------------------------------------
@import './variables';
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  // font-family: $font-default;
  font-size: 14px;
  font-weight: 400;
  color: $black;
}

.hidden {
  display: none;
}
.wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}