// ----------  layout
// ------------------------------------------------------------------------------
@import './variables';
@import './mixins';
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	// font-family: $font-default;
	font-size: 14px;
	font-weight: 400;
	color: $black;
}
.root {
	width: 100%;
}
.app {
	width: 100%;
	overflow: hidden;
}
.content {
	width: 100%;
}
.homepage {
	width: 100%;
}

.hidden {
	display: none;
}
.wrap {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
	width: 100%;
}
.light {
	background-color: $white;
	.toggle__ring {
		transform: translateX(120%);
	}
	.flightlist__item {
		@include media-breakpoint-up(lg) {
			&:hover {
				box-shadow: 0px 0px 7px 3px rgba(88, 88, 88, 0.45);
			}
		}
	}
}
.dark {
	background-color: $black-2;
	h1 {
		color: $white;
	}
	.header {
		background-color: $dark-gray;
		box-shadow: 0px 1px 10px 1px rgba($green-2,0.75);
		.header__title {
			color: $white;
		}
	}
	.toggle__theme{
		background-color: $green-2;
		.toggle__ring {
			background-color: $white;
		}
	}
	.search__input {
		background-color: $green-2;
		color: $black-2;
		&::placeholder {
			color: $black-2;
		}
	}
	.flightlist__item {
		background-color: $dark-gray;
		box-shadow: 0px 0px 5px 1px rgba($green-2, 0.7);
		@include media-breakpoint-up(lg) {
			&:hover {
				box-shadow: 0px 0px 7px 3px rgba($green-2, 0.5);
			}
		}
	}
	.flightlist__name,
	.flightlist__details,
	.flightlist__date {
		color: $white;
	}
	.flightlist__link,
	.flight-details__back {
		background-color: $green-2;
		color: $black-2;
	}
	.loader__text {
		color: $white;
	}
	.loader__line {
		border: 10px solid $white;
		border-top: 10px solid $green-2;
	}
	.flight-details__holder {
		background-color: $dark-gray;
		box-shadow: 0px 0px 5px 1px rgba($green-2, 0.7);
	}
	.flight-details__title,
	.flight-details__heading,
	.details-text {
		color: $white;
	}
	.flight-details__link {
		color: $green-2;
	}
	
}